html, body {
    min-height: 100%;
}

body {
    background-image: url(background-image: url(https://1.bp.blogspot.com/-QYS18GdARWI/Xna22Gn7qUI/AAAAAAAAFSw/UEcMf0HXezcSpWc7pN2ygHZ9BukHJTbNACPcBGAYYCw/s1600/evirgod.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
