@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
@font-face {
    font-family: 'Alegreya SC';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/alegreyasc/v22/taiOGmRtCJ62-O0HhNEa-Z6i2ZAJaQ.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
    font-family: 'Alegreya SC';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/alegreyasc/v22/taiOGmRtCJ62-O0HhNEa-Z6r2ZAJaQ.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
body,html{
    min-height: 100%;
}
body{
    background-image: url(imgs/andromeda.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#principal{
    height: 30px;
    position: fixed;
}
#imagem-cav{
    height: 550px;
    width: 350px;
    float: left;
    margin-left: 20%;
}
h1,p{
    color:aliceblue;   
    font-family: 'Alegreya SC', serif;
}
p{
    font-size: 19px;
}
h1{
    font-size: 55px;
    float: left;
    margin-left: 5%;
}
#tabela{
    height: 550px;
    margin-left: 5%;
    margin-top: -13%;
}
#descricao{
    text-align: center;
    margin-left: 27%;
    margin-right: 15%; 
    margin-top: 14%;  
}
#hab{
    margin-left: 29%;
    margin-top: -12%;
    margin-right: 20%;
    text-align: center;
}
#defesa{
    margin-left: 53%;
    margin-top: 1%;
}
#asdw{
    height: 280px;
    margin-left: 45.5%;
    margin-top: -6.5%;
}
#soco{
    margin-left: 64%;
    margin-top: -12%;
}
#Chute{
    margin-top: -3.5%;
    margin-left: 42%;
}
#tec{
    margin-left: 49%;
    margin-top: 3%;
}
#barra{
    height: 300px;
    margin-top: -17%;
    margin-left: 4%;
}
#seta-direita{
    height: 70px;
    margin-left: 20%;
    margin-top: -10%;
}
#andar{
    margin-top: -22%;
    margin-left: 40%;
}
#prox{
    position: fixed;
    right: 0;
    top: 450px;
    height: 3%;
    width: 2%;
}
a:link{
    text-decoration: none;
}
#esquerda{
    flex-direction: column;
    gap: 5px;
}
.direita{
    flex-direction: column;
    margin-left: -10%;
}
#tudo{
    display: flex;
}
#mover{
    display: flex;
    flex-direction: row;
}
#centro{
    display: flex;
    flex-direction: row;
}
