body,html{
    min-height: 100%;
}
body{
    background-image: url(imgs/cisne.webp);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}
#imagem-cav{
    height: 600px;
    float: left;
    margin-left: 9%;
}
h1,p{
    color:aliceblue;   
}
p{
    font-size: 19px;
}
h1{
    font-size: 55px;
    margin-left: 5%;
}
#tabela{
    height: 600px;
    margin-left: 6%;
    margin-top: -13%;
}
#descricao{
    text-align: center;
    margin-left: 27%;
    margin-right: 15%; 
    margin-top: 14%;
}
#hab{
    margin-left: 33%;
    margin-top: -12%;
    margin-right: 20%;
    text-align: center;
}
#defesa{
    margin-left: 54%;
    margin-top: 1%;
}
#asdw{
    height: 280px;
    margin-left: 46%;
    margin-top: -7.5%;
}
#soco{
    margin-left: 67%;
    margin-top: -14%;
}
#Chute{
    margin-top: -4%;
    margin-left: 42%;
}
#tec{
    margin-left: 51%;
    margin-top: 4%;
}
#barra{
    height: 300px;
    margin-top: -17%;
    margin-left: 4%;
    
}
#seta-esquerda{
    height: 90px;
    margin-top: -12%;
    margin-left: 20%;
}
#seta-direita{
    height: 70px;
    margin-left: 20%;
    margin-top: -10%;
}
#andar{
    margin-top: -22%;
    margin-left: 40%;
}
#ant{
    position: fixed; left: 0;
    top: 450px;
    height: 3%;
    width: 2%;
}
#direita{
    display: flex;
    flex-direction: column; 
    align-content: stretch;
}
#esquerda{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#tudo{
    display: flex;
    justify-content: space-around;
}
#direita{
    display: flex;
    flex-direction: column;
}
#mover{
    display: flex;
    flex-direction: row;
}
#centro{
    display: flex;
    flex-direction: row;
}
#principal{
    height: 30px;
    position: fixed; left: 0px;
}
