html, body{
    min-height: 100%;
}
body{
    background-image: url(imagens-comandos/andromeda.webp);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
#imagem-cav{
    height: 600px;
    margin-left: 10%;
}
h1{
    margin-left: 6%;
    font-size: 300%;
    color: aliceblue;
}
p{
    color:aliceblue;
    font-size: 19px;
}
#barra{
    height: 300px;
    position: relative;
    right: 21%;
    top:190px;
    
}
#direita{
    height: 65px;
    position: relative; right: 38%; top: 120px;;
}
#esquerda{
    height: 80px;
    position: relative; right: 44%; top: 124px;
}
#descricao{
    
    text-align: center;
    position: relative;  top: -650px;
    margin-left: 55%;
    margin-right: 10%;
}
#tabela{
    height: 600px;
    margin-left: 45%;
    position: relative;  top: -780px;
}
#hab{
    position: relative;  top: -920px;
    margin-left: 57%
}



#direcao{
    margin-left: 18%;
    margin-top: 4%;
}
#asdw{
    height: 40%;
    margin-left: 68%;
    position: relative;  top: -900px;
}
#soco{
    position: relative;  top: -1050px;
    margin-left: 78%
}

#chute{
    position: relative;  top: -1094px;
    margin-left: 66%
}
#def{
    position: relative;  top: -1224px;
    margin-left: 71.5%
}
#tec{
    position: relative;  top: -1134px;
    margin-left: 70.5%
}
#prox{
    position: fixed; right: 0;
    top: 450px;
    color: rgb(127, 129, 255);
}
