html, body {
    min-height: 100%;
}

body {
    background-image: url(imgs-jogo/fundo-jogo1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
}

