html, body {
    min-height: 100%;
}

body {
    background-image: url(imgs-jogo/fundo-jogo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
}

#principal{
    height: 50px;
}
