html, body {
    min-height: 100%;
}

body {
    background-image: url(imgs-jogo/fundo-jogo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#principal{
    height: 50px;
    position: fixed;
}

a {
    display: inline-block;
    color: lightyellow;
    text-decoration: none;    
}

.transparente {
    border: 8px solid goldenrod;
    border-radius: 5%;
    position: absolute;
}

.transparente:hover {
    border-color: red;
}

#transparente1 {
    height: 50px;
    width: 97px;
    left: 83.9%;
    top: 89.3%;
}

#transparente2 {
    height: 39px;
    width: 85px;
    left: 45.3%;
    top: 81.5%;
}

#transparente3 {
    height: 41px;
    width: 77px;
    left: 27.6%;
    top: 75%;
}

#transparente4 {
    height: 39px;
    width: 78px;
    left: 11.3%;
    top: 68%;
}

#transparente5 {
    height: 39px;
    width: 69px;
    left: 23.5%;
    top: 52%;
}

#transparente6 {
    height: 39px;
    width: 68px;
    left: 36.5%;
    top: 46.25%;
}

#transparente7 {
    height: 39px;
    width: 70px;
    left: 57.8%;
    top: 53.5%;
}

#transparente8 {
    height: 37px;
    width: 100px;
    left: 67.8%;
    top: 49.4%;
}

#transparente9 {
    height: 39px;
    width: 139px;
    left: 81.6%;
    top: 45.7%;
}

#transparente10 {
    height: 39px;
    width: 124px;
    left: 74.4%;
    top: 18.8%;
}

#transparente11 {
    height: 39px;
    width: 107px;
    left: 58.9%;
    top: 16.2%;    
}

#transparente12 {
    height: 40px;
    width: 69px;
    left: 47.3%;
    top: 13%;
}

#transparente13 {
    height: 24px;
    width: 92px;
    left: 21.5%;
    top: 24.8%;
}

#transparente14 {
    height: 25px;
    width: 108px;
    left: 5%;
    top: 24%;
}

#botao {
    background-image: url(imgs/fundo-botao.jpg);
    margin-top: 48%;
    margin-left: 5%;
    text-align: center;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    font-size: 20px;
    width: 20%;
    cursor: pointer;
}

#botao:hover {
    transform: scale(1.1);
}
