html, body {
    min-height: 100%;
}

body {
    background-image: url(imgs/fundo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

#user {
    margin: 0;
    width: 40px;
    cursor: pointer;
}

.janela-modal {
    width: 100vw;
    height: 100vh;
    prosition: relative;
    top: 0;
    left: 0;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.botoes {
    background-image: url(imgs/fundo-botao.jpg);
    text-align: center;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
    color: lightyellow;
    display: grid;
    margin-left: 111px;
    margin-top: 33px;
    font-size: 20px;
    width: 20%;
    cursor: pointer;
}

a :hover {
    color: goldenrod;
}
